useDynLib(fontr)
import(Rcpp)
import(sysfonts)

importFrom(graphics, plot)

export(glyph_bitmap)
S3method(plot, glyph_bitmap)

export(glyph_outline)

export(glyph_polygon)
S3method(plot, glyph_polygon)
